{% extends 'base.html' %}
{% block content %}

<style>
.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 20px;
  background-color: white;
  padding: 10px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.image-container {
  display: flex;
  justify-content: flex-end;
}

.drink-image {
  width: 150px; /* Adjust the width as needed */
}

</style>




<h1>Shopping List</h1>

{% for drink in shoppingguide_list %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">
                Needed For <span style="color: {{ drink.name }}">{{ drink.name }}</span> 
            </span>
            <img src="{{ drink.drink_image }}" class="drink-image">
            <ul>
                {% if drink.strIngredient1 and drink.strIngredient1 != "None" %}
                <li>
                    <span class="ingredient">{{ drink.strIngredient1 }}</span>
                </li>
                {% endif %}
                {% if drink.strIngredient2 and drink.strIngredient2 != "None" %}
                <li>
                    <span class="ingredient">{{ drink.strIngredient2 }}</span>
                </li>
                {% endif %}
                {% if drink.strIngredient3 and drink.strIngredient3 != "None" %}
                <li>
                    <span class="ingredient">{{ drink.strIngredient3 }}</span>
                </li>
                {% endif %} 
                {% if drink.strIngredient4 and drink.strIngredient4 != "None" %}
                <li>
                    <span class="ingredient">{{ drink.strIngredient4 }}</span>
                </li>
                {% endif %} 
                {% if drink.strIngredient5 and drink.strIngredient5 != "None" %}
                <li>
                    <span class="ingredient">{{ drink.strIngredient5 }}</span>
                </li>
                {% endif %}
                {% if drink.strIngredient6 and drink.strIngredient6 != "None" %}
                <li>
                    <span class="ingredient">{{ drink.strIngredient6 }}</span>
                </li>
                {% endif %}
                {% if drink.strIngredient7 and drink.strIngredient7 != "None" %}
                <li>
                    <span class="ingredient">{{ drink.strIngredient7 }}</span>
                </li>
                {% endif %}
                {% if drink.strIngredient8 and drink.strIngredient8 != "None" %}
                <li>
                    <span class="ingredient">{{ drink.strIngredient8 }}</span>
                </li>
                {% endif %}
                {% if drink.strIngredient9 and drink.strIngredient9 != "None" %}
                <li>
                    <span class="ingredient">{{ drink.strIngredient9 }}</span>
                </li>
                {% endif %}
                {% if drink.strIngredient10 and drink.strIngredient10 != "None" %}
                <li>
                    <span class="ingredient">{{ drink.strIngredient10 }}</span>
                </li>
                {% endif %}
                {% if drink.strIngredient11 and drink.strIngredient11 != "None" %}
                <li>
                    <span class="ingredient">{{ drink.strIngredient11 }}</span>
                </li>
                {% endif %}
                {% if drink.strIngredient12 and drink.strIngredient12 != "None" %}
                <li>
                    <span class="ingredient">{{ drink.strIngredient12 }}</span>
                </li>
                {% endif %}
                {% if drink.strIngredient13 and drink.strIngredient13 != "None" %}
                <li>
                    <span class="ingredient">{{ drink.strIngredient13 }}</span>
                </li>
                {% endif %}
                {% if drink.strIngredient14 and drink.strIngredient14 != "None" %}
                <li>
                    <span class="ingredient">{{ drink.strIngredient14 }}</span>
                </li>
                {% endif %}
                {% if drink.strIngredient15 and drink.strIngredient15 != "None" %}
                <li>
                    <span class="ingredient">{{ drink.strIngredient15 }}</span>
                </li>
                {% endif %}
          <a class="btn red" href="{% url 'shopping_delete' drink.id %}">Delete</a>
            </ul>
        </div>
    </div>



{% endfor %}
{% endblock %}