{% extends 'base.html' %}
{% block content %}

    <h1 class="sans">About the <span>Drinks</span> App</h1>
    <hr>
    <h5 class="indent sans">    Welcome to our cocktail haven, where passion for mixology meets creativity in every glass. At <span>Drinks</span>, we are dedicated to bringing you an immersive journey into the world of cocktails. Whether you're a seasoned connoisseur or a curious novice, our expertly crafted recipes cater to all tastes and occasions. Explore a diverse array of libations, from timeless classics to innovative concoctions, each accompanied by detailed instructions and insightful tips. Join us in celebrating the art of cocktail crafting, where every sip tells a story. Cheers to a spirited adventure with <span>Drinks</span>—where the perfect drink is just a shake, stir, or pour away.</p>

{% endblock %}