{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header class="navbar-fixed ">
        <nav class="#9e9e9e grey">
            <div class="nav-wrapper">
                <ul>
                    <li>
                        <a href="/" class="left brand-logo">
                            &nbsp;&nbsp;Drinks
                        </a>
                    </li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'drinks_index' %}">Random</a></li>

                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>