{% extends 'base.html' %}
{% block content %}
<style>
  .drink-details {
    text-align: center;
  }
  .drink-details h1 {
    margin-bottom: 10px;
    text-align: center;
  }
  .drink-image {
    display: block;
    margin-right: 40px;
    margin-bottom: 20%;
    width: 45%;
    margin-top: 30px;
    float: left;
  }
  .ingredients {
    text-align: center;
    display: inline-block;
    margin-top: 150px;
    margin-left: 30px;
  }
  .extra-info {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-top: 180px;
    margin-left: 100px;
    
  }
  .extra-info p {
    font-size: 20px;
  }
  .instructions {
    text-align: center;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    left: 60%;
    transform: translateX(-50%);
    width: 60%;
    font-size: 20px
  }
  .green-button {
    align-items: right;
    right: 25%

  }


</style>
<div class="drink-details">
  <h1>{{ response.drinks.0.strDrink }}</h1>
  <img src="{{ response.drinks.0.strDrinkThumb }}" class="drink-image" alt="Drink Image">
  <div class="ingredients sans">
    <h3>Ingredients:</h3>
    <ul>
      {% if response.drinks.0.strMeasure1 and response.drinks.0.strIngredient1 %}
      <li>
        <span class="ingredient">{{ response.drinks.0.strMeasure1 }}</span>
        {{ response.drinks.0.strIngredient1 }}
      </li>
      {% endif %}
      {% if response.drinks.0.strMeasure2 and response.drinks.0.strIngredient2 %}
      <li>
        <span class="ingredient">{{ response.drinks.0.strMeasure2 }}</span>
        {{ response.drinks.0.strIngredient2 }}

      </li>
      {% endif %}
      {% if response.drinks.0.strMeasure3 and response.drinks.0.strIngredient3 %}
      <li>
        <span class="ingredient">{{ response.drinks.0.strMeasure3 }}</span>
        {{ response.drinks.0.strIngredient3 }}
      </li>
      {% endif %}ç
      {% if response.drinks.0.strMeasure4 and response.drinks.0.strIngredient4 %}
      <li>
        <span class="ingredient">{{ response.drinks.0.strMeasure4 }}</span>
        {{ response.drinks.0.strIngredient4 }}
      </li>
      {% endif %}
      {% if response.drinks.0.strMeasure5 and response.drinks.0.strIngredient5 %}
      <li>
        <span class="ingredient">{{ response.drinks.0.strMeasure5 }}</span>
        {{ response.drinks.0.strIngredient5 }}
      </li>
    {% endif %}
    </ul>
  </div>
  <div class="extra-info sans">
    <h4>Alcoholic:</h4>
    <p>{{ response.drinks.0.strAlcoholic }}</p>
    <h4>Category:</h4>
    <p>{{ response.drinks.0.strCategory }}</p>
  </div>
</div>
<div class="instructions sans">
  <h3>Instructions:</h3>
  <p>{{ response.drinks.0.strInstructions }}</p>
</div>

  <div class="green-button">

    <h1 class="sans">Add to the List</h1>
    <form action="{% url 'shopping_create'  %}" method="POST">
      {% csrf_token %}
      <input hidden type="text" name="user" value="{{ user.id }}">
      <input hidden type="text" name="name" value="{{ response.drinks.0.strDrink }}">
      <input hidden type="text" name="drink_id" value="{{ response.drinks.0.idDrink }}">
      <input hidden type="text" name="drink_image" value="{{ response.drinks.0.strDrinkThumb }}">
      <input hidden type="text" name="ingredient_1" value="{{ response.drinks.0.strIngredient1 }}">
      <input hidden type="text" name="ingredient_2" value="{{ response.drinks.0.strIngredient2 }}">
      <input hidden type="text" name="ingredient_3" value="{{ response.drinks.0.strIngredient3 }}">
      <input hidden type="text" name="ingredient_4" value="{{ response.drinks.0.strIngredient4 }}">
      <input hidden type="text" name="ingredient_5" value="{{ response.drinks.0.strIngredient5 }}">
      <input hidden type="text" name="ingredient_6" value="{{ response.drinks.0.strIngredient6 }}">
      <input hidden type="text" name="ingredient_7" value="{{ response.drinks.0.strIngredient7 }}">
      <input hidden type="text" name="ingredient_8" value="{{ response.drinks.0.strIngredient8 }}">
      <input hidden type="text" name="ingredient_9" value="{{ response.drinks.0.strIngredient9 }}">
      <input hidden type="text" name="ingredient_10" value="{{ response.drinks.0.strIngredient10 }}">
      <input hidden type="text" name="ingredient_11" value="{{ response.drinks.0.strIngredient11 }}">
      <input hidden type="text" name="ingredient_12" value="{{ response.drinks.0.strIngredient12 }}">
      <input hidden type="text" name="ingredient_13" value="{{ response.drinks.0.strIngredient13 }}">
      <input hidden type="text" name="ingredient_14" value="{{ response.drinks.0.strIngredient14 }}">
      <input hidden type="text" name="ingredient_15" value="{{ response.drinks.0.strIngredient15 }}">
      <input type="submit" class="btn btn-outline-dark favButton" value="Favorite" class="btn">
    </form>

    <a href="{% url 'shopping_create'  %}" button type="submit" class="btn btn-outline-dark favButton" value="Favorite">Add to Shopping List</button></a>


{% endblock %}