body {
  background-color: #A4B6BC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.ingredients {
  font-size: 20px;
  font-family: "arial", Sans-serif

}
.ingredient{
  margin-right: 10px
}